<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
        <body>
                <div class="topnav">
                    <a class="active" href="#">Home</a>
                    <div class="search-container">
                        <form action="getRequest" method="GET">
                            <input type="text" name="nominationId" placeholder="VOTER ID" />
                            <input type="submit"  value="Search" />
                          </form><i class="fa fa-search"></i></button>
                      
                    </div>
                  </div>
                  
    <div class="box-case" style="padding-top: 5%;">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8" style="border : 1px rgb(85, 46, 175) solid; background-color:rgb(74, 201, 194);">
                <div class="row mb-3 mt-4">
                    <div class="col-12" style="text-align : center;">
                        <h2>Register Details</h2>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <tr>
            <th>Name:</th>
            <td><%= result._name %></td>
        </tr>
        <tr>
            <th>Budget:</th>
            <td><%= result._netWorth %></td>
       
            </td>
        </tr>
        <tr>
            <th>Constituency:</th>
            <td><%= result._constituency %></td>
       
        </td>
    </tr>
</table>
</div>
</div>
</div>
</div>

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<link rel='stylesheet' href='/stylesheets/script.css' />

<link rel='stylesheet' href='/stylesheets/main.css' />

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></script>
</body>

</html>