<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/script.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />

  <link rel='stylesheet' href='/stylesheets/main.css' />

<body>
    <div class="topnav">
        <a class="active" href="#">Home</a>
        <div class="search-container">
            <form action="getRequest" method="GET">
                <input type="text" name="nominationId" placeholder="VOTER ID" />
                <input type="submit"  value="Search" />
              </form><i class="fa fa-search"></i></button>
          
        </div>
      </div>
      <div class="alert alert-success">
      <h3><strong>Contract Address:- 0x8943cf16D63f31002304A81B1Da2fA7bccB98fe0</strong>
        </h3></div><br>
        
            <strong>Register Here</strong></div>
        
    <div class="box-case" style="padding-top: 0.02;">
  <form action="setRequest" method="POST">
   <input type="text" name="nominationId" placeholder="Enter your VOTER ID" required />
    <br>
  <input type="text" name="name" placeholder="Enter your Name" required />
    <br>
    <input type="text" name="netWorth" placeholder="Enter your finance details" required />
    <br>
   <input type="text" name="constituency" placeholder="Enter your constituency" required />
    <br>
    <input type="submit" value="Submit" class="btn" />
  </form>
  </div>
<div class="text-case">
<strong>Donate Here</strong></div>
  <div class="box-case">
  <form action="contribute" method="POST">
    <input type="text" name="nominationId" placeholder="Enter the nomination Id"/><br>
    <input type="text" name="funder" placeholder="Enter the public key"/><br>
    <input type="text" name="amount" placeholder="Donation Amount in wei"/><br>
    <input type="submit" value="Donate Here"/>
  </form>
  </div>
  <form action="transfer" method="POST">
    <input type="text" name="nominationId" placeholder="Enter the nomination Id"/>
    <input type="submit" value="TRANSFER"/>
  </form>

</body>

</html>