<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        
        <div class="alert alert-success">
                <strong>Success!</strong> your action has successfull transmitted!!
              </div>
</body>
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />

</html>